<html>
  <head>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="{{ google-auth-client-id }}.apps.googleusercontent.com">
    <script>
    function onSignIn(googleUser) {
      var loginRequest = new XMLHttpRequest();
      loginRequest.open('POST', '/login', true);
      loginRequest.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
      loginRequest.onload = function() { console.log("Login call response status code", this.status); };
      loginRequest.onerror = function(err) { console.log("Login call response error", err); };

      // send the profile info along with the token id to the backend
      var profile = googleUser.getBasicProfile();
      loginRequest.send(
          JSON.stringify(
              {  id_token: googleUser.getAuthResponse().id_token,
		 google_user_id: profile.getId(),
                 first_name: profile.getGivenName(),
                 last_name: profile.getFamilyName(),
                 photo_url: profile.getImageUrl(),
                 email: profile.getEmail()
               }
          )
      );
      }
    </script>
  </head>
  <body>
  </body>
  <div class="g-signin2" data-onsuccess="onSignIn"></div>
  <br/>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
	  var auth2 = gapi.auth2.getAuthInstance();
	  auth2.signOut().then(function () {
	      console.log('User signed out.');
	  });
	  }
      </script>
</body>
</html>
